################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResponseGenerator/obj
/ResponseGenerator/.vs/ResponseGenerator
/.vs
