################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResponseGenerator/obj
/ResponseGenerator/.vs/ResponseGenerator
/.vs
/ResponseGenerator/bin/Debug/net6.0
/ResponseGenerator/.vs/ProjectEvaluation
/*/*/bin/*
/*/*/obj/*
